@tailwind base;
@tailwind components;
@tailwind utilities; 


html::-webkit-scrollbar {
    width: 8px;
  }

html::-webkit-scrollbar-track {
    background: rgb(153, 246, 228);
    border-radius: 0px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(6, 101, 82);
    border-radius: 10px; 
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }